img{
    width: 300px;
    height: 200px;
}
iframe {
    width: 300px;
    height: 200px;
}
a{
    color: white;
}
.special{
    display: inline;
    padding: 0px 10px 0px 10px;
}
h1{
    font-size: 30px;
}
h2{
    font-family: "Quintessential", serif;
  font-weight: 400;
  font-style: normal;
   text-align: center;
}
body{
    height: 0px;
    background-image: linear-gradient(to bottom right, lightpink, lightgreen);
}
.blue {
    color: blue;
 }
 ul{
    padding: 10px;
 }
 li{
    display: inline;
 }
 header{
    text-align: center;
    background: image("");
    background-size: cover;
    padding: 20px 0px 0px 0px;
 }